.page {
  margin: 0 10px;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  position: relative;
  display: grid;
  padding-block: 10px;
  grid-template-rows: repeat(4, 1fr);
}

.header__theme-menu {
  grid-row: 2;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-flow: column;
  list-style-type: none;
}

.header__article {
  grid-row: 3;
  justify-self: center;
}

.header__decorated-element {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  top: 10px;
  right: 10px;
}

.header__decorated-element:before {
  content: "rec";
  text-transform: uppercase;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: var(--header-decorated-element-color);
}

.header__decorated-element:after {
  content: "";
  border-radius: 50%;
  border: 2px solid var(--header-decorated-element-color);
  box-shadow: 0 0 4px 2px var(--header-decorated-element-color);
  background-color: var(--header-decorated-element-color);
  inline-size: 5px;
  block-size: 5px;
}

.decorated-zone:before,
.decorated-zone:after {
  content: "";
  border-color: var(--header-corner-border-color);
  inline-size: 25px;
  block-size: 25px;
  border-style: solid;
}

.decorated-zone:before {
  border-width: 1px 1px 0 0;
  grid-row: 1;
  justify-self: end;
}

.decorated-zone:after {
  border-width: 0 0 1px 1px;
  grid-row: 4;
  justify-self: start;
  align-self: end;
}